.longer-body{
    height:155vh;
}

.find__notification__cog--ellipsis{
    background-color: tomato;
    border-radius:2.5px;
    width:5px;
    height:5px;
    display:flex;
    color:tomato;
    position:absolute;
    left:20px;
    top:-8px;
}


.find__cog-notification{
    position:relative;
}

.find-icons{
    display:flex;
    justify-content: space-between;
}

.find-icons__icon{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.find-icons__icon span{
    font-size:25px;
    justify-content:center;
    padding-bottom:30px;
}

.find-icons__icon i{
    font-size:50px;
    padding-bottom:25px;
}

.find__recommended-friends{
    border-top:var(--horizontal-line);
    border-bottom:var(--horizontal-line);
    margin:25px 0px;
    padding:25px 0px;
    color:rgba(0,0,0,0.3);
    font-size:larger;
    font-weight: 1000;
}

.find__recommended-friends span{
    display:flex;
    margin:100px;
    justify-content: center;
    font-size:larger;
    font-weight: 1000;
}

.find__openchat-header{
    color:rgba(0,0,0,1);
    display:flex;
    font-size:larger;
    justify-content:space-between;
    margin-bottom: 25px;
}

.find__openchat-header h6:last-child{
    color:rgba(0,0,0,0.3);
}

.find__openchat__post{
    display:flex;
    justify-content: space-between;
}

.find__openchat__post-column h4{
    font-size:25px;
    font-weight:bold;
    margin-bottom:15px;    
}

.find__openchat__post-column h6{
    font-size:20px;
    margin-bottom:15px;
    color:rgba(0,0,0,0.6);     
}

.find__openchat__post-members:nth-child(3) {
    display:flex;
    align-items:center;
    color:rgba(0,0,0,0.6);
}
.find__openchat__post-members img{
    border-radius:25px;
    width:80px;
    height:80px;
    margin-right:15px;
}

.find__openchat__post-status{
    font-size:bold;
    font-weight:800;
    color:rgb(233, 73, 215);
}

.find__openchat__post-photo img{
    width:130px;
    height:130px;
    border-radius:25px;
}

.find__openchat__post-photo{
    position:relative;
}

.find__openchat__post__heart{
    background-color:rgba(0,0,0,0.5);
    border-radius:15px;
    position:absolute;
    padding:5px;
    align-items: center;
    top:100px;
    right:10px;
    font-weight:600;
    font-size:12px;
    color:rgba(255, 255, 255,1);
}

.find__openchat__post{
    margin-bottom:30px;
}

