#friends-display-link {
    display:block;
    text-align:center;
    background-color:#fafafa;
    padding:10px 0px;
    font-size: medium;
    margin-bottom:10px;
}

#friends-display-link i {
    color: rgba(0,0,0,0.4);
}

.friends-screen {
     padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    margin-top:25px;
    border-top:var(--horizontal-line);
    padding-top:15px;
}

.friends-screen__channel-header{
    margin-bottom:25px;
    display:flex;
    justify-content:space-between;
    color:rgba(0,0,0,0.5);
}

.friend__user-component__title{
    font-size:25px;
    font-weight:bolder;
}

.friend__user-component__subtitle{
    color:var(--grey);
    margin:13px 0px;
}

@keyframes hideSplashScreen{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        visibility:hidden;
    }
}

#splash-screen{
    background-color:var(--yellow);
    position:absolute;
    height:100vh;
    width:100vw;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:130px;
    animation:hideSplashScreen 1s ease-in-out forwards;
}