#friends-display-link {
    display:block;
    text-align:center;
    background-color:#fafafa;
    padding:10px 0px;
    font-size: medium;
    margin-bottom:10px;
}

#friends-display-link i {
    color: rgba(0,0,0,0.3);
}

.friends-screen {
    padding:var(--horizontal-space);
}

.friends-screen__channel{
    margin-top:25px;
    border-top:var(--horizontal-line);
    padding-top:15px;
}

.friends-screen__channel-header{
    margin-bottom:25px;
    display:flex;
    justify-content:space-between;
    color:rgba(0,0,0,0.5);
}