.badge {
    background-color:tomato;
    border-radius:15px;
    width:25px;
    height:25px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:15px;
    color:white;
    font-weight:100;
}