.nav {
    padding:20px 50px;
    box-sizing: border-box;
    background-color:#F9F9FA;
    border-top:1px solid rgba(121,121,121,0.3);
    position:fixed;
    bottom:0;
    width:100%;
}

.nav__list {
    display: flex;
    justify-content: space-around;
}

.nav__link  {
    position:relative;
    color:#2e363e;
}

.nav__notification {
    position:absolute;
    left:20px;
    bottom:15px;
}

.nav__notification__ellipsis .find__notification__cog--ellipsis {
    background-color: tomato;
    border-radius:2.5px;
    width:5px;
    height:5px;
    display:flex;
    color:tomato;
    position:absolute;
    left:40px;
}
