.user-component{
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child{
    display:flex;
    align-items:center;
}

.user-component__avatar{
    width:70px;
    height: 70px;
    border-radius:30px;
    margin-right:25px;    
}

.user-component__title{
    font-weight:600;
    font-size:22px;
}

.user-component__subtitle{
    margin-top: 8px;
    color:#2e363e;
    /* color:rgba(0,0,0,0.5); */
    font-size:17px;
}

.user-component__avatar--xl{
    width:80px;
    height:80px;
}

.user-component__avatar--sm{
    width:60px;
    height:60px;
    border-radius: 25px;
}

.user-component__title--not-bold{
    font-size:400;
}

.friends-screen__channel{
    margin-top:25px;
    border-top:1px solid rgba(0,0,0,0.1);
    padding-top:15px;
}

.friends-screen__channel-header{
    margin-bottom:25px;
    display:flex;
    justify-content:space-between;
    color:rgba(0,0,0,0.5);
}

.user-component__column:last-child{
    color:rgba(0,0,0,0.5);
}